volumes/*
docker/mosquitto/pwfile
.venv
.vscode
config.json
.idea
._*
app/.env
app/config/scanner.json
docker-compose.override.yml
scanner_emulator/scanner_config.json
.env
scanner_emulator/__py_cache__
scanner_emulator/__pycache__
docker/mediamtx/mediamtx.yml.dist