{
    "id": "test-scanner",
    "mqtt": {
        "host": "mqtt",
        "port": 1883,
        "user": "guest",
        "password": "guest"
    },
    "tuner": {
      "type": "rx5808",
      "rssi_threshold": 60,
      "createArgs": {
          "min": 0,
          "max": 88
      }
    }
}